body {
    font-family: Arial, sans-serif;
    background-color: #f8f9f9;
    margin: 0;
    padding: 0;
    
}
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 200px;
    text-align: center;
    transition: transform 0.3s ease;
    margin-top: 5%;
}
.inputs {
    margin-bottom: 20px;
    
}
.inputs p {
    margin: 10px 0;
    border-radius: 10%;
}
.btn {
    display: flex;
    justify-content: center;
    gap: 10px;
    
    
}
button {
    padding: 10px 20px;
    border-radius: 10%;
    background-color: #c255af;
    color: white;
    cursor: pointer;
    
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #9d4db6;
}
#result {
    margin-top: 20px;
    font-weight: bold;
}
@media (max-width: 500px) {
    .container {
        transform: scale(0.9);
    }
}